# goland project
.idea

# coverage output
*.out

# coverage report
coverage.txt

# build artifacts
build

# default localnet
local

# swagger ui
swagger-ui

# swagger configs
swagger-*.yaml

# exclude regen swagger
!swagger-regen.yaml
